DJANGO_SECRET_KEY=django_secret_key_here
OPENWEBUI_API_KEY=user_openwebui_API_key
OPENWEBUI_URL=http://localhost:3000
MOODLE_CONSUMER_KEY=moodle_key
MOODLE_SHARED_SECRET=your_super_secret_moodle_shared_secret
LTI_TRUST_PROXY_HEADERS=True
LTI_EXTERNAL_LAUNCH_URL=https://lti.example.edu/lti/launch/